<!-- Sample home page -->
{% extends 'layouts/default.njk' %}

{% block content %}
  <h2>Welcome to our Home page!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
{% endblock %}
