<div class="banner">

	<div class="banner__mobile">
		<img src="{{ banner.bannerMobile }}" alt="Banner BMW">
	</div>

	<div class="banner__desktop">
		<img src="{{ banner.bannerDesktop }}" alt="Banner BMW">
	</div>
</div>