<footer>

  <div class="footer">

    <div class="footer__container">

      <div class="footer__text">
      <p>{{ footer.footerText }}</p>
      </div>

      <div class="footer__bottom">
        <div class="footer__logo">
          <img src="{{ logos.logoBMW }}" alt="Logo BMW" />
        </div>

        <span>{{ footer.copy }}</span>

        <div class="alpesone">
          <span>Feito por:</span>
          <img src="{{ logos.logoAlpes }}" alt="Logo AlpesOne" />
        </div>
      </div>
      
    </div>

  </div>

</footer>
